* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }

img
{  
display:block;
margin-left: auto;
margin-right: auto;
margin-top:2%;
}
h2{
    color: white;
}	
#edycja{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top:30px;
}
#edycja form{
    font-size: 20px;
    color: white;
    font-weight: bold;

}
form input{
    margin: 2px;
    padding: 5px 15px;
    width: 200px;
}
form input[type="submit"]{
    width: 40px;
}
hr{
    width: 320px;
    margin:auto;
    margin-top: 10px;;
    margin-bottom: 10px;
    height:2px;
    background-color:white;
}

