#logging{
    margin-top: 10px;
    margin-right: 10px;
    float:right;
    background-color: red;
}
.button {
    background-color: white;
    border: solid;
    border-width: 2px;
    border-color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Bebas;
    color: black;
    border-radius: 12px;
  }