@font-face{
    font-family: Bebas;
    src:url(BebasNeue-Regular.otf);
}

body{
    background-image: url(../IMG/to_do_strony.jpg);
    background-repeat: none;
    background-size: cover;
}

#box{
    width:70%;
    margin: auto;
}
    
header{
    height:70px;
    background-color: rgb(0, 26, 224,0.35);
    text-align: center;
}

header h3{
    line-height: 70px;
    font-family:Bebas;
	color:white;
	font-size:25px;
}

#divider{
    height: 10px;
    background-color: white;
}

#content{
    overflow: hidden;
    min-height: 820px;
    background-color: rgb(0, 0, 0, 0.4);
}

footer {
    padding: 20px;
    width: 100%;
    background-color: #030302;
}

footer p {
    color: white;
    text-align: center;
}