$bg-color-button:white;
$bg-color-search:rgba(0,0,0, 0.4);
$bg-color-cells:white;
$font-color:black;
$font-color-white:white;
$border-color-black: black;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

img {  
    margin-top: 40px;
    margin-left: 80px;
}
    
a {
    text-decoration: none;
    color: inherit;
}


.button{
	float:right;
    background-color: $bg-color-button;
    border: 2px solid $border-color-black;
    padding: 10px 40px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Bebas;
    color: $font-color;
    border-radius: 12px;
    font-size: 15px;
    transition: 0.3s;

    
    &:hover{
        background-color: #030303;
        color: $font-color-white;
}
}


#wyszukiwarka, #searchbars{
    padding: 20px;
    width: 90%;
    background-color:$bg-color-search;
    margin:auto;
    margin-top: 10px;
    box-sizing: border-box;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#searchbars{
    display:none;
    color: $font-color;
    input{
        margin: 5px 0px;
        height: 30px;
        width: 250px;
    }
}



input[type="date"]{
    width:120px !important;
}


.button1{
    padding: 5px 20px;
    background-color: $bg-color-button;
    border: 2px solid $border-color-black;
    text-align: center;
    cursor: pointer;
    font-family: Bebas;
    color: $font-color;
    border-radius: 12px;
    font-size: 15px;
    margin: 0px 1px;
    transition: 0.3s;

    &:hover{
        background-color: #030303;
        color: $font-color-white;
  }
}

#panel{
    position: absolute;
    top: 277px;
    right: 5%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    z-index: 10;
    padding: 20px;
    flex-direction: column;
    display: none;
    
    p {
        margin: 0px;
        margin-left: 10px;
        text-align: right;
        cursor: pointer;
    }
    

    span input {
        margin-right: 10px;
    }
  }



#wyszukiwarka form {
      margin-left: 10px;
      
      select {
        margin-left: 10px;
        padding: 6px 6px;
        min-width: 200px;
    }
    
  }

  form {
      color:white;
  }




.wysz-part {
    display: flex;
  }

#tabela {
    position: relative;
    width:90%;
    margin:auto;
    font-size: 20px;
    overflow: hidden;
    margin-top: 10px;
    
    td {
    font-size: 17px;
    text-align: center;
    background-color: $bg-color-cells;
    border: 2px solid $border-color-black;
    width: 16.6%;
    padding: 2px;
    color:$font-color;

    :first-child {
        width: 15px;
        padding: 0px 10px;
    }
}
}





.hidden-in-table {
    background-color: transparent !important;
    border: none !important;
}

#wyszukaj {
    padding: 6px 0px;
    border: none;
    min-width: 300px;
}


#prawa {
    margin-right: 10px;
    margin-top: 10px;
}

input[type="checkbox"] {
    cursor: pointer;
}

.logo {
    cursor: pointer;
}